---

---

<div class="char-tile">
  <span class="char-tile-label"></span>
</div>

<style>
  .char-tile {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: var(--background-secondary);
    border: 2px solid var(--secondary);
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem;
    overflow: hidden;
    user-select: none;
  }

  .active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0;
  }

  .active:hover::before,
  .char-tile-selected::before {
    opacity: 0.2;
    transition: opacity 150ms ease;
  }

  .char-tile-selected,
  .active:hover {
    cursor: pointer;
    border-color: var(--primary);
    transition: border-color 150ms ease;
  }

  .char-tile-label {
    font-size: 2.25em;
    font-weight: bold;
    z-index: 1;
  }

  .char-feedback-gray {
    background-color: var(--gray);
  }
  .char-feedback-yellow {
    background-color: var(--yellow);
  }
  .char-feedback-green {
    background-color: var(--green);
  }
  .char-feedback-gray,
  .char-feedback-yellow,
  .char-feedback-green {
    border-color: var(--background);
  }
</style>