---

---

<div class="word-tile">
  Tile
</div>

<style>
  .word-tile {
    width: 4rem;
    height: 4rem;
    background-color: blue;
    border: 2px solid lime;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>