---
import { WORD_LENGTH } from "../../../lib/config";
import CharTile from "./CharTile.astro";
---

<div class="word-row">
  {Array.from({ length: WORD_LENGTH }).map(() => (
    <CharTile />
  ))}
</div>

<style>
  .word-row {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    width: fit-content;
  }
</style>

<script>
  import type { GameSession } from "../../../lib/gameSession";
  import { headShake } from "../../../scripts/headshakeAnimation"



  const wordRows = document.querySelectorAll<HTMLDivElement>('.word-row');
  let gameSession: GameSession;


  
  // Connection to exchange the gameSession after each fetch
  window.addEventListener("updateWordRows", (e) => {
    gameSession = (e as CustomEvent).detail.gameSession;
    shiftRow();
  });



  window.addEventListener("headShake", (e) => {
    headShake(wordRows[(e as CustomEvent).detail.row]);
  });



  /**
   * Activates the current row based on `cursor.y`
   * and deactivates all other ones.
   */
  function shiftRow(): void {
    if (!gameSession.current_guess_valid && gameSession.status == "return_feedback") {
      return;
    }
    wordRows.forEach(row => {
      Array.from(row.children).forEach(char => {
        char.classList.remove('active', 'char-tile-selected');
      });
    });

    Array.from(wordRows[gameSession.guesses_used].children).forEach(char => {
      char.classList.add('active');
    });
  }
</script>