---
import CharTile from "./CharTile.astro";


---

<div class="word-row">
  <CharTile></CharTile>
  <CharTile></CharTile>
  <CharTile></CharTile>
  <CharTile></CharTile>
  <CharTile></CharTile>
</div>

<style>
  .word-row {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    width: fit-content;
  }
</style>

<script>
  import type { GameSession } from "../../../lib/gameSession";
  import { headShake } from "../../../scripts/headshakeAnimation"

  const wordRows = document.querySelectorAll<HTMLDivElement>('.word-row');
  let gameSession: GameSession;

  
  ////////// Event Listeners //////////
  // Connection to exchange the gameSession after each fetch
  window.addEventListener("transmitCurrentGameState", (e) => {
    const event = e as CustomEvent;

    gameSession = event.detail.gameSession;
    shiftRow();
  });

  window.addEventListener("headShake", (e) => {
    const event = e as CustomEvent;
    headShake(wordRows[event.detail.row]);
  });
  ////////// Event Listeners //////////


  /**
   * Activates the current row based on `cursor.y`
   * and deactivates all other ones.
   */
  function shiftRow(): void {
    wordRows.forEach(row => {
      Array.from(row.children).forEach(char => {
        char.classList.remove('active', 'char-tile-selected');
      });
    });

    Array.from(wordRows[gameSession.guesses_used].children).forEach(char => {
      char.classList.add('active');
    });
  }
</script>