---
import KeyRow from "./keyboard/KeyRow.astro";
import KeyTile from "./keyboard/KeyTile.astro";
import DeleteIcon from "../../assets/icons/delete.svg";

import { KEYBOARD_KEYS } from "../../lib/constants";
---

<div class="keyboard-container">
  <KeyRow keys={ KEYBOARD_KEYS[0] }></KeyRow>
  <KeyRow keys={ KEYBOARD_KEYS[1] }></KeyRow>
  <KeyRow keys={ KEYBOARD_KEYS[2] }>
    <KeyTile slot="enter-key" class="enter-key">
      ENTER
    </KeyTile>
    <KeyTile slot="delete-key" class="delete-key">
      <DeleteIcon class="delete-icon" />
    </KeyTile>
  </KeyRow>
</div>

<style>
  .keyboard-container {
    margin: 2rem auto;
    width: fit-content;
    border: 4px solid var(--dark-accent-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
  }
</style>