---
import KeyRow from "./keyboard/KeyRow.astro";
import KeyTile from "./keyboard/KeyTile.astro";
import DeleteIcon from "../../assets/icons/delete.svg";

import { KEYBOARD_KEYS } from "../../lib/constants";
---

<div class="keyboard-container">
  <KeyRow keys={ KEYBOARD_KEYS[0] }></KeyRow>
  <KeyRow keys={ KEYBOARD_KEYS[1] }></KeyRow>
  <KeyRow keys={ KEYBOARD_KEYS[2] }>
    <KeyTile slot="enter-key" class="enter-key">
      ENTER
    </KeyTile>
    <KeyTile slot="delete-key" class="delete-key">
      <DeleteIcon class="delete-icon" />
    </KeyTile>
  </KeyRow>
</div>

<style>
  .keyboard-container {
    margin: 2rem auto;
    width: fit-content;
    border: 2px solid var(--secondary);
    padding: .5rem 1rem;
    border-radius: .5rem;
  }
</style>

<script>
  import type { GameSession } from "../../lib/gameSession";

  const keyTiles = document.querySelectorAll<HTMLDivElement>('.key-tile');
  let gameSession: GameSession;
  
  window.addEventListener("transmitCurrentGameState", (e) => {
    const event = e as CustomEvent;

    gameSession = event.detail.gameSession;
  });

  keyTiles.forEach(keyTile => {
    keyTile.addEventListener('click', () => {
      const key = (() => {
        if (keyTile.classList.contains('enter-key')) return "ENTER";
        if (keyTile.classList.contains('delete-key')) return "BACKSPACE";
        return keyTile.firstElementChild?.textContent;
      })();
      
      const event = new CustomEvent("keyInput", {
        detail: {
          keyInput: key,
        }
      });
      window.dispatchEvent(event);
    })
  });
</script>