---

---

<div class=score-board>
  
</div>

<style>
  .score-board {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: var(--primary);
    border: 1rem solid var(--primary-border);
    border-radius: 2rem;
  }
</style>