---

---

<div class=score-board>
  
</div>

<style>
  .score-board {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 90%;
    border: 8px solid var(--primary);
    border-radius: 2rem;
  }
</style>