---
import WordRow from "./wordgrid/WordRow.astro";
---

<div class="word-grid">
  <WordRow />
  <WordRow />
  <WordRow />
  <WordRow />
  <WordRow />
  <WordRow />
</div>

<style>
  .word-grid {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: fit-content;
    height: fit-content;
    margin: auto;
  }
</style>

<script>
  console.log("Loaded!");
</script>