---
import WordRow from "./wordgrid/WordRow.astro";


---

<div class="word-grid">
  <WordRow></WordRow>
  <WordRow></WordRow>
  <WordRow></WordRow>
  <WordRow></WordRow>
  <WordRow></WordRow>
  <WordRow></WordRow>
</div>

<style>
  .word-grid {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: .25rem solid var(--dark-accent-color);
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    margin: auto;
    border-radius: 1rem;
  }
</style>