---
import Main from '../../layouts/Main.astro'
import '../../styles/global.css'
---

<Main title="Duel Mode">
  <main>
    <h1>Duel Mode</h1>
    <p>in progress...</p>
  </main>
</Main>

<style>
  main {
    padding: 2rem;
		display: flex;
		flex-direction: column;
		width: fit-content;
		gap: 1rem;
  }
</style>