.form-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 24rem;
	height: fit-content;
	padding: 1rem 2rem;
	left: 50%;
	top: 50%;
	gap: 1rem;
	transform: translate(-50%, -50%);
	align-items: center;
}

.form-element {
	position: relative;
	width: 100%;
	height: 3rem;
}

.redirect-container {
	display: flex;
	flex-direction: row;
	gap: .25rem;
	font-size: .85em;
	align-items: center;
	justify-content: space-between;
}

.redirect-container span {
	color: var(--text-secondary);
}

.redirect-container a {
	color: var(--accent);
	text-decoration: none;
}

.redirect-container a:hover {
	text-decoration: underline;
}

form {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.submit-btn {
	color: var(--text-primary);
	border-radius: 4px;
	font-size: 1em;
	background-color: var(--primary);
	border: none;
	width: 100%;
	height: 3rem;
	outline: none;
}

.submit-btn:hover,
.submit-btn:disabled {
	background-color: var(--primary-hover);
}

.submit-btn:active:not(:disabled) {
	transform: scale(0.98);
}

.submit-btn:active:disabled {
	transform: scale(1);
}

.submit-btn:disabled {
	opacity: 0.6;
}

label {
	position: absolute;
	left: .5rem;
	top: .25rem;
	font-size: .8em;
	font-weight: 400;
	color: var(--text-secondary);
}

input {
	padding: 1rem .5rem 0;
	font-size: 1em;
	outline: none;
	border: none;
	color: var(--text-primary);
	background-color: var(--background-light);
	border-radius: var(--br-light);
	width: 100%;
	height: 3rem;
}

input:hover {
	outline: 2px solid var(--primary-hover);
}

input:focus {
	outline: 3px solid var(--primary-border);
}