@font-face {
  font-family: 'AtkinsonHyperlegibleMono';
  src: url('/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --text: #EEFFEE;  
  --background: #0E1520;
  --background-secondary: #111927;
  --primary: #004074;
  --secondary: #3A3A4A;
  --accent: #FFC53D;
  --border-hover: #222734;

  --gray: #7B7B7B;
  --yellow: var(--accent);
  --green: #46A758;
  --red: #E54D2E;
}

* {
  color: var(--text);
  font-family: 'AtkinsonHyperlegibleMono', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}