@font-face {
  font-family: 'AtkinsonHyperlegibleMono';
  src: url('/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf') format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --text-primary: #eeffee;
  --text-secondary: #7B7B7B;
  --background: #0D1520;
  --background-hover: #ffffff1a;
  --primary: #004074;
  --primary-border: #205D9E;
  --primary-hover: #104D87;
  --secondary: #3A3A4A;
  --secondary-border: #484858;
  --accent: #FFC53D;
  --border: #222734;

  --gray: var(--text-secondary);
  --yellow: #E6AC1F;
  --green: #46A758;
  --red: #E54D2E;

  /* Border Radius */
  --br-light: .25rem;
  --br-medium: .5rem;
  --br-strong: 1rem;
}

* {
  color: var(--text-primary);
  font-family: 'AtkinsonHyperlegibleMono', sans-serif;
  box-sizing: border-box;
  word-spacing: -.25em;
  letter-spacing: -.05em;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.button-primary {
  background-color: var(--primary);
  border-radius: var(--br-medium);
  border: 1px solid var(--primary-border);
  padding: .5rem 1rem;
  text-decoration: none;
  transition: background-color 100ms ease;
}

.button-primary:hover {
  background-color: var(--primary-hover);
}