---
import Layout from "../../layouts/Layout.astro"
import '../../styles/global.css'
---

<Layout title="Log In">
  <div class="form-container">
    <h1>Login</h1>
    <form name="login-form" class="login-form">
      <div class="form-element">
        <label for="mail-input">E-Mail:</label>
        <input
          type="email"
          name="mail-input"
          id="mail-input"
          placeholder="example@mail.com"
          required>
      </div>
      <div class="form-element">
        <label for="pw-input">Password:</label>
        <input
          type="password"
          name="pw-input"
          id="pw-input"
          placeholder="Example123"
          required>
      </div>
    </form>
    <button name="submit-btn" id="submit-btn" class="submit-btn" disabled="true">Submit</button>
    <span class="redirect-text">
      Don't have an account yet?
      <a href="/signup">Sign Up</a>
    </span>
  </div>
</Layout>

<style>
  .form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: 4px solid var(--border);
    padding: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    border-radius: 8px;
    align-items: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .form-element {

  }

  .redirect-text {
    font-size: .75em;
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: var(--accent);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  button {
    color: var(--text-primary);
    margin: 1rem;
    border-radius: 4px;
    font-size: 1em;
    background-color: var(--primary);
    border: none;
    width: 80%;
  }

  button:hover,
  button:disabled {
    background-color: var(--primary-hover);
  }

  button:active:not(:disabled) {
    transform: scale(0.98);
  }

  button:active:disabled {
    transform: scale(1);
    outline: none;
  }

  button:disabled {
    opacity: 0.6;
  }

  label {
    font-size: 1em;
  }

  input {
    color: var(--text-primary);
    background-color: var(--background);
    border-radius: 4px;
    border: none;
    outline: none;
    height: 1.5rem;
    width: 100%;
  }

  input:focus {
    outline: 2px solid var(--primary);
  }
</style>

<script>
  interface LoginForm {
    email: string;
    password: string;
  }

  const mailInput = document.getElementById('mail-input') as HTMLInputElement;
  const pwInput = document.getElementById('pw-input') as HTMLInputElement;
  const submitButton = document.getElementById('submit-btn') as HTMLButtonElement;

  const inputElements = document.querySelectorAll('input') as NodeListOf<HTMLInputElement>;

  let mailInputEmpty: boolean = true;
  let pwInputEmpty: boolean = true;

  inputElements?.forEach(input => {
    input?.addEventListener('input', () => {
      pwInputEmpty = pwInput.value != "" ? false : true;
      mailInputEmpty = mailInput.value != "" ? false : true;
      toggleButton();
  })});

  function toggleButton() {
    if (!(mailInputEmpty || pwInputEmpty)) {
      submitButton.disabled = false;
    } else {
      submitButton.disabled = true;
    }
  }

  submitButton?.addEventListener('click', () => {
    const userData: LoginForm = {
      email: mailInput.value,
      password: pwInput.value
    };
    submitForm(userData);
  });

  async function submitForm(userData: LoginForm): Promise<void> {
    try {
      const response = await fetch('http://localhost:8080/users/add', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(userData),
      });

      if (!response.ok) {
        throw new Error(`Error: ${response.statusText}`);
      }

      const responseData = await response.text();
      console.log('Server response:', responseData);
    } catch (error) {
      console.error('Failed sending data:', error);
    }
  }
</script>