---
import Main from '../../layouts/Main.astro';
---

<Main title="How to Play">
	<main>
		<div class="interaction-container">
			<div class="text-section">
				<h1>How to Play</h1>
				<p>
					● In Wordle, an English five-letter word is chosen randomly.
					<br>
					● You have six chances to guess the word.
					<br>
					● After each guess, the letters of that word will be color-coded:
					<br>
					&gt; Gray: Solution does not contain that letter.
					<br>
					&gt; Yellow: Solution contains that letter, but in another spot.
					<br>
					&gt; Green: Solution contains that letter at that exact spot.
					<br>
					● Use the color feedback to determine the solution word.
				</p>
			</div>
		</div>
	</main>
</Main>

<style>
	main {
		padding: 2rem;
		width: 100%;
	}

	p {
		line-height: 1.75em;
		text-align: left;
	}

	br {
		height: .2rem;
	}

	.interaction-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-left: 1rem;
		border-left: 3px solid var(--border);
		/* width: 48rem; */
	}

	.text-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: .5rem;
	}
</style>