---
const { class: className } = Astro.props;
---

<div class:list={[ 'key-tile', className]}>
  <span class="key-tile-label"><slot /></span>
</div>

<style>
  .key-tile {
    position: relative;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    margin: 0 2px;
    font-size: 1.5em;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 4px 0 0px var(--border-hover);
    z-index: 0;
    transition: all 150ms ease;
    user-select: none;
  }

  .key-tile-label {
    position: relative;
    z-index: 1;
  }

  .key-tile:hover {
    filter: brightness(1.15);
  }

  .key-tile:active {
    transform: scale(0.98) translateY(3px);
    box-shadow: none;
    transition: all 100ms ease;
  }

  .enter-key {
    font-size: 1em;
  }

  .delete-key,
  .enter-key {
    width: 4.5rem;
  }

  .delete-key .key-tile-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .key-feedback-gray {
    background-color: var(--gray);
    .key-tile-label {
      color: var(--background);
    }
  }
  .key-feedback-yellow {
    background-color: var(--yellow);
  }
  .key-feedback-green {
    background-color: var(--green);
  }
</style>