---
import '../styles/global.css';
import NavBarSide from '../components/NavBarSide.astro';
import NavBarTop from '../components/NavBarTop.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <NavBarSide />
    <div class="main-window">
      <NavBarTop />
      <slot />
    </div>
	</body>
</html>

<style>
  body {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .main-window {
    position: relative;
    width: 100%;
  }
</style>