---
import Assistant from "../../components/game/Assistant.astro"
import DigitalKeyboard from "../../components/game/DigitalKeyboard.astro"
import WordGrid from "../../components/game/WordGrid.astro"
import Layout from "../../layouts/Layout.astro"
import { GUESSES, ROW_MULTIPLIERS } from "../../lib/config"
---

<Layout title="Classic Game">
  <div class="game-frame">
    <div class="grid-area">
      <div class="factors">
        {Array.from({ length: GUESSES }).map((_, index) => (
          <span>x{ROW_MULTIPLIERS[index]}</span>
        ))}
      </div>
      <WordGrid />
      <div class="scores">
        {Array.from({ length: GUESSES }).map(() => (
          <span>69P</span>
        ))}
      </div>
    </div>
    <Assistant />
    <DigitalKeyboard />
  </div>
</Layout>

<style>
  .game-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin: 1rem auto;
    gap: 1rem;
  }

  .grid-area {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
  }

  .factors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 6rem;
    margin: 0 .5rem;
    span {
      font-size: 2em;
      color: var(--text-primary);
      background-color: var(--primary);
      border-radius: var(--br-tile);
      padding: 0 .5rem;
    }
  }

  .scores {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 6rem;
    padding-left: 1rem;
    span {
      font-size: 2em;
    }
  }

  body {
    display: flex;
    flex-direction: column;
  }
</style>

<script>
  ////////// Imports //////////
  import { GUESSES, KEYBOARD_KEYS } from "../../lib/config";
  import type { GameSession} from "../../lib/gameSession";
  import { requestGameSession } from "../../scripts/requestGameSession";
  import { guessRequest } from "../../scripts/guessRequest";
  import { requestContinue } from "../../scripts/requestContinue"
  ////////// Imports //////////


  ////////// Variables //////////
  const pageBody = document.querySelector('body') as HTMLBodyElement;
  let gameSession: GameSession;
  try {
    gameSession = await requestGameSession();
  } catch {
    const event = new CustomEvent("assistantMessage", {
      detail: {
        msg: "I couldn't connect to the server.",
      }
    });
    window.dispatchEvent(event);
  }
  ////////// Variables //////////


  ////////// Event Listeners //////////
  pageBody?.addEventListener('keydown', (e) => {
    const keyInput: string = e.key.toUpperCase();

    if (!validKeyInput(keyInput)) return;
    const event = new CustomEvent("keyInput", {
      detail: {
        keyInput: keyInput,
      }
    });
    window.dispatchEvent(event);
  });


  window.addEventListener("guessRequest", async (e) => {
    gameSession.current_guess = (e as CustomEvent).detail.word;
    gameSession.status = "submit_guess";
    gameSession.current_guess_valid = false;

    gameSession = await guessRequest(gameSession);
    triggerUpdate();
  });


  window.addEventListener("analyseGameState", () => {
    analyseGameState();
  });
  ////////// Event Listeners //////////


  ////////// Functions //////////
  /**
   * Validates an input key
   * @param key - keyboard key
   * @returns Whether the key is valid
   */
   function validKeyInput(key: string): boolean {
    let found: boolean = false;

    KEYBOARD_KEYS?.forEach(row => {
      if (row.includes(key) || ['ENTER', 'BACKSPACE'].includes(key)) found = true;
    });

    return found;
  }


  /**
   * Transmits the current gameSession as an event
   */
  function triggerUpdate(): void {
    const updateWordGrid = new CustomEvent("updateWordGrid", {
      detail: {gameSession: gameSession}
    });
    window.dispatchEvent(updateWordGrid);

    const updateDigitalKeyboard = new CustomEvent("updateDigitalKeyboard", {
      detail: {gameSession: gameSession}
    });
    window.dispatchEvent(updateDigitalKeyboard);
  }

  /**
   * 
   */
  async function analyseGameState() {
    // Correct guess: Win
    if (gameSession.guesses_used > 0) {
      if (gameSession.guesses[gameSession.guesses_used - 1].was_correct) {
        // Confetti or smth
        window.alert("You won!");
        gameSession = await requestContinue(gameSession);
        const resetWordGrid = new CustomEvent("resetWordGrid", {
          detail: {gameSession: gameSession}
        });
        window.dispatchEvent(resetWordGrid);
        const resetDigitalKeyboard = new CustomEvent("resetDigitalKeyboard");
        window.dispatchEvent(resetDigitalKeyboard);
      }
    }

    // No guesses left: Lose
    if (gameSession.guesses_used >= GUESSES) {
      window.alert("You lost!");
      window.location.replace("http://localhost:4321");
    }
  }
  ////////// Functions //////////


  triggerUpdate();
</script>