---
import Assistant from "../../components/game/Assistant.astro"
import DigitalKeyboard from "../../components/game/DigitalKeyboard.astro"
import WordGrid from "../../components/game/WordGrid.astro"
import Layout from "../../layouts/Layout.astro"
import { GUESSES, ROW_MULTIPLIERS } from "../../lib/config"
---

<Layout title="Classic Game">
  <div class="game-frame">
    <div class="grid-area">
      <div class="factors">
        {Array.from({ length: GUESSES }).map((_, index) => (
          <span>x{ROW_MULTIPLIERS[index]}</span>
        ))}
      </div>
      <WordGrid />
      <div class="scores">
        {Array.from({ length: GUESSES }).map(() => (
          <span>69P</span>
        ))}
      </div>
    </div>
    <Assistant />
    <DigitalKeyboard />
  </div>
</Layout>

<style>
  .game-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin: 1rem auto;
    gap: 1rem;
  }

  .grid-area {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
  }

  .factors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 6rem;
    margin: 0 .5rem;
    span {
      font-size: 2em;
      color: var(--text-primary);
      background-color: var(--primary);
      border-radius: var(--br-tile);
      padding: 0 .5rem;
    }
  }

  .scores {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 6rem;
    padding-left: 1rem;
    span {
      font-size: 2em;
    }
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
</style>

<script>
  ////////// Imports //////////
  import { KEYBOARD_KEYS } from "../../lib/config";
  import type { GameSession} from "../../lib/gameSession";
  import { requestGameSession } from "../../scripts/requestGameSession";
  import { guessRequest } from "../../scripts/guessRequest";
  ////////// Imports //////////


  ////////// Variables //////////
  const pageBody = document.querySelector('body') as HTMLBodyElement;
  let gameSession: GameSession = await requestGameSession();
  ////////// Variables //////////


  ////////// Event Listeners //////////
  pageBody?.addEventListener('keydown', (e) => {
    const keyInput: string = e.key.toUpperCase();

    if (!validKeyInput(keyInput)) return;
    const event = new CustomEvent("keyInput", {
      detail: {
        keyInput: keyInput,
      }
    });
    window.dispatchEvent(event);
  });


  window.addEventListener("guessRequest", async (e) => {
    const event = e as CustomEvent;

    gameSession.current_guess = event.detail.word;
    gameSession.status = "submit_guess";
    gameSession.current_guess_valid = false;

    gameSession = await guessRequest(gameSession);
    triggerUpdate();
  });
  ////////// Event Listeners //////////


  ////////// Functions //////////
  /**
   * Validates an input key
   * @param key - keyboard key
   * @returns Whether the key is valid
   */
   function validKeyInput(key: string): boolean {
    let found: boolean = false;

    KEYBOARD_KEYS?.forEach(row => {
      if (row.includes(key) || ['ENTER', 'BACKSPACE'].includes(key)) found = true;
    });

    return found;
  }


  /**
   * Transmits the current gameSession as an event
   */
  function triggerUpdate(): void {
    const event = new CustomEvent("transmitCurrentGameState", {
      detail: {
        gameSession: gameSession,
      }
    });
    window.dispatchEvent(event);
  }
  ////////// Functions //////////


  triggerUpdate();
</script>