---

---

<section class="classic-mode-section">
  <h1>Classic Mode</h1>
  <a class="game-link button-primary" href="/game">Play here</a>
</section>

<style>
  .classic-mode-section {
    position: relative;
    width: 100%;
    padding: 1rem;
  }
</style>