---
import Main from '../layouts/Main.astro';
---

<Main title=Home>
  <main>
    <h1>Welcome</h1>
    <p>in progress...</p>
  </main>
</Main>

<style>
  main {
    padding: 2rem;
		display: flex;
		flex-direction: column;
		width: fit-content;
		gap: 1rem;
  }
</style>