---
import Main from '../layouts/Main.astro'
import '../styles/global.css'
---

<Main title="Home">
  <main>
    <h1>Root Webpage</h1>
    <a class="game-link" href="/game">Play here</a>
  </main>
</Main>

<style>
  main {
    position: relative;
    margin: 1rem;
  }

  .game-link {
    width: 10rem;
    height: 4rem;
    text-decoration: none;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: var(--br-button);
    border: 1px solid var(--primary-border);
  }
</style>