---

---

<form name="login-form" class="login-form">
  <label for="mail-input">E-Mail</label>
  <input type="email" name="mail-input" id="mail-input">
  <label for="pw-input">Password</label>
  <input type="password" name="pw-input" id="mail-input">
</form>

<style>
  .login-form {
    display: flex;
    flex-direction: column;
    width: 16rem;
    background-color: #313248;
    padding: 3rem 2rem;
    margin: 2rem;
  }

  input {
    color: #313248;
  }
</style>