---
import '../styles/global.css'
---

<div class="form-container">
  <form name="login-form" class="login-form">
    <label for="mail-input">E-Mail:</label>
    <input
      type="email"
      name="mail-input"
      id="mail-input"
      placeholder="example@mail.com"
      required>
    <label for="pw-input">Password:</label>
    <input
      type="password"
      name="pw-input"
      id="pw-input"
      placeholder="Example123"
      required>
  </form>
  <button name="submit-btn" id="submit-btn" class="submit-btn" disabled="true">Submit</button>
</div>

<style>
  .form-container {
    display: flex;
    flex-direction: column;
    width: 16rem;
    background-color: #313248;
    padding: 2rem;
    margin: 2rem;
    border-radius: 8px;
    align-items: center;
  }

  button {
    color: var(--background-color);
    margin: 1rem;
    border-radius: 4px;
    font-size: 1em;
    background-color: var(--text-color);
    border: none;
    width: 80%;
  }

  button:hover,
  button:disabled {
    background-color: rgb(193, 200, 200);
  }

  button:active:not(:disabled) {
    transform: scale(0.98);
  }

  button:active:disabled {
    transform: scale(1);
    outline: none;
  }

  button:disabled {
    opacity: 0.6;
  }

  label {
    font-size: 1.25em;
  }

  input {
    color: #313248;
    background-color: var(--text-color);
    border-radius: 4px;
    border: none;
    outline: none;
    height: 1.5rem;
    width: 100%;
  }

  input:focus {
    outline: 2px solid rgb(162, 5, 5);
  }
</style>

<script>
  interface LoginForm {
      email: string;
      password: string;
    }

  const mailInput = document.getElementById('mail-input') as HTMLInputElement;
  const pwInput = document.getElementById('pw-input') as HTMLInputElement;
  const submitButton = document.getElementById('submit-btn') as HTMLButtonElement;

  const inputElements = document.querySelectorAll('input') as NodeListOf<HTMLInputElement>;

  let mailInputEmpty: boolean = true;
  let pwInputEmpty: boolean = true;

  inputElements?.forEach(input => {
    input?.addEventListener('input', () => {
      pwInputEmpty = pwInput.value != "" ? false : true;
      mailInputEmpty = mailInput.value != "" ? false : true;
      toggleButton();
  })});

  function toggleButton() {
    if (!(mailInputEmpty || pwInputEmpty)) {
      submitButton.disabled = false;
    } else {
      submitButton.disabled = true;
    }
  }

  function checkMailCompatibility(): boolean {
    return true;
  }

  submitButton?.addEventListener('click', () => {
    const userData: LoginForm = {
      email: mailInput.value,
      password: pwInput.value
    };
    submitForm(userData);
  });

  async function submitForm(userData: LoginForm): Promise<void> {
    try {
      const response = await fetch('http://localhost:8080/users/add', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(userData),
      });

      if (!response.ok) {
        throw new Error(`Error: ${response.statusText}`);
      }

      const responseData = await response.text();
      console.log('Server response:', responseData);
    } catch (error) {
      console.error('Failed sending data:', error);
    }
  }
</script>