---
import GitHubIcon from "../assets/icons/github.svg"

const url = new URL(Astro.url);
---

<div class="nav-bar-top">
  <span class="website-link">{url.host}</span>
  <a class="account-link button-primary" href="/">Sign in</a>
  <a href="https://github.com/dominicbrauer/web-wordle" target="_blank" class="icon-button github-link">
    <GitHubIcon class="github-icon" />
  </a>
</div>

<style>
  .nav-bar-top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid var(--border);
    padding: .75rem 2rem;
    gap: 1.5rem;
  }

  .website-link {
    font-size: 1.15em;
  }

  .account-link {
    font-size: 1em;
  }

  .icon-button {
    width: 2.75rem;
    height: auto;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: all 100ms ease;
  }

  .icon-button:hover {
    background-color: #ffffff1a;
  }

  svg {
    stroke: var(--text-secondary);
    width: 75%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
</style>