---
import GitHubIcon from "../assets/icons/github.svg"
import MoonIcon from "../assets/icons/moon.svg"
import SunIcon from "../assets/icons/sun.svg"
---

<div class="nav-bar-top">
  <span class="website-link">localhost:4321</span>
  <a class="account-link" href="/">Sign in</a>
  <GitHubIcon class="github-icon" />
  <MoonIcon class="moon-icon" />
</div>

<style>
  .nav-bar-top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid var(--border);
    padding: 1rem;
    gap: 1.5rem;
  }

  .account-link {
    background-color: var(--primary);
    text-decoration: none;
    height: fit-content;
    padding: .4rem .75rem;
    border-radius: var(--br-button);
    border: 1px solid var(--primary-border);
    transition: all 150ms ease;
  }

  .account-link:hover {
    background-color: ;
  }

  .website-link {
    
  }

  .github-icon {
    stroke: var(--text-secondary);
    width: 2rem;
    height: auto;
  }

  .moon-icon {
    stroke: var(--text-secondary);
    width: 2rem;
    height: auto;
  }
</style>