---

---

<div class="nav-bar-top">
  <span>Top Bar</span>
</div>

<style>
  .nav-bar-top {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid var(--secondary);
    padding: 1rem;
  }
</style>