---

---

<div class="nav-bar-side">
  <div class="home-link">
    <span>Wordle</span>
  </div>
  <div class="classic-mode-link">
    <span>Classic</span>
  </div>
  <div class="duel-mode-link">
    <span>Duel</span>
  </div>
  <div class="account-link">
    <span>Account</span>
  </div>
</div>

<style>
  .nav-bar-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24rem;
    position: relative;
    border-right: 2px solid var(--border);
    padding: 2rem 2rem;
  }

  .nav-bar-side span {
    color: #7B7B7B;
  }
</style>