---
import GitHubIcon from "../assets/icons/github.svg"
import MoonIcon from "../assets/icons/moon.svg"
import SunIcon from "../assets/icons/sun.svg"

const url = new URL(Astro.url);
---

<div class="nav-bar-top">
  <span class="website-link">{url.host}</span>
  <a class="account-link" href="/">Sign in</a>
  <a href="https://github.com/dominicbrauer/web-wordle" target="_blank" class="icon-button github-link">
    <GitHubIcon class="github-icon" />
  </a>
  <div class="icon-button color-scheme-picker">
    <MoonIcon class="moon-icon" />
    <!-- <SunIcon class="sun-icon" /> -->
  </div>
</div>

<style>
  .nav-bar-top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid var(--border);
    padding: 0 2rem;
    gap: 1.5rem;
  }

  .account-link {
    background-color: var(--primary);
    text-decoration: none;
    height: fit-content;
    padding: .4rem .75rem;
    border-radius: var(--br-button);
    border: 1px solid var(--primary-border);
    transition: all 100ms ease;
  }

  .account-link:hover {
    background-color: var(--primary-hover);
  }

  .icon-button {
    width: 2.5rem;
    height: auto;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: all 100ms ease;
  }

  .icon-button:hover {
    background-color: #ffffff1a;
  }

  svg {
    stroke: var(--text-secondary);
    width: 80%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
</style>